modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_AIRTABLE_TOKEN = "patPrnrfTgSDs7A1C.43f72cce92199af458c05b188667a7f98c5e98240ef17133c4398b5a4b201235"
VITE_AIRTABLE_BASE = "appT6B0N71oCjNVXf"

[nix]
channel = "stable-25_05"
